.project-Button {
    background-color: beige;
    
}
img{
    display: block;
    margin: 0 auto;
}
section{
    background-color: lightyellow;
    border-width: 50px;
    border-color: beige
}
h3{
    text-align: center;
}
body{
    background-color: beige;
    max-width: 700px;
}
.header-section{
    background-color: palegoldenrod;
    text-align: center  
}

